.button {
    background: #666;
    border-radius: 0.2em;
    border: 0 solid #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    margin: 1px 3px;
    min-width: 80px;
    opacity: 0.8;
    outline: none;
    overflow: visible;
    padding: 1px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}